@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://cdn.jsdelivr.net/gh/sXrja/DarkSteelFramework@main/navbar.tp.css");
@import url("https://cdn.jsdelivr.net/gh/sXrja/DarkSteelFramework@main/list.sys.css");
:root {

  --nav-bg-opacity: rgba(0, 0, 0, 0.103);

  --theme-font-family: "Open Sans", sans-serif;

  --theme-black: rgb(19, 19, 19);
  --theme-white: rgb(245, 245, 245);

  --disabled-color: rgba(136, 136, 136, 0.445);
  --disabled-font-color: rgb(136, 136, 136);

  --danger-color: rgb(255, 63, 63);
  --danger-font-color: var(--theme-white);
  --danger-hoverr-color: rgb(209, 0, 0);

  --succes-color: rgb(129, 245, 62);
  --succes-font-color: var(--theme-white);
  --succes-hoverr-color: rgb(74, 202, 0);

  --primary-color: rgb(62, 135, 245);
  --primary-font-color: var(--theme-white);
  --primary-hoverr-color: rgb(0, 87, 218);

  --warning-color: rgb(245, 218, 62);
  --warning-font-color: var(--theme-black);
  --warning-hoverr-color: rgb(231, 197, 0);

  --dark-color: rgb(53, 53, 53);
  --dark-font-color: var(--theme-white);
  --dark-hoverr-color: var(--theme-black);


}

div {
  margin: 10px;
}
body {
  margin: 0;
}

/* FS Size */

.font-s-medium {
  font-size: medium;
}
.font-s-large {
  font-size: large;
}
.font-s-larger {
  font-size: larger;
}
.font-s-xlarge {
  font-size: x-large;
}
.font-s-xxlarge {
  font-size: xx-large;
}
/*---------------------------------------------------------------- GridSystem ---------------------------------------------------------------- */