/*---------------------------------------------------------------- List Styles ---------------------------------------------------------------- */

ul {
    font-family: var(--theme-font-family);
    list-style-type: none;
  }
  ul li {
    text-decoration: none;
    margin: 5px;
  }
  .list-inline {
    display: inline;
  }
  li a {
    text-decoration: none;
    color: var(--theme-black);
    padding: 5px;
    transition: all 0.3s ease;
  }
  .underlined:hover {
    text-decoration: underline;
  }
  .bordered:hover {
    border: 1px solid var(--theme-black);
  }
  .bordered-half-rounded:hover {
    border: 1px solid var(--theme-black);
    border-radius: 5px;
  }
  .bordered-rounded:hover {
    border: 1px solid var(--theme-black);
    border-radius: 14px;
  }
  