@import url("https://cdn.jsdelivr.net/gh/sXrja/DarkSteelFramework@main/math.root.css");

.pos-center{
    display: flex;
    justify-content: var(--pos-mid);
    align-items: var(--pos-mid);
}
.pos-left{
    display: flex;
    justify-content: var(--pos-left);
    align-items: var(--pos-left);
}
.pos-right{
    display: flex;
    justify-content: var(--pos-right);
    align-items: var(--pos-right);
}