/*---------------------------------------------------------------- NavbarTP ---------------------------------------------------------------- */

.navbar{
    background-color: var(--nav-bg-opacity);
    padding: 10px;
    font-family: var(--theme-font-family);
    margin: 0;
    width: 100%;
    z-index: 999;
  }
  .navbar-fixed {
    position: fixed !important;
    background-color: var(--nav-bg-opacity);
    padding: 10px;
    font-family: var(--theme-font-family);
    margin: 0;
    width: 100%;
    z-index: 999;
  }
  .first-mainconent{
    margin-top: 3%;
  }